.logo-box {
	background: #44b1d9;
	width: auto;
	height: 400px;
	text-align: center;
	background-image: url(../img/logo.png), -webkit-radial-gradient(#67c5e7 0%, #f2f2f2 70%);
	background-image: url(../img/logo.png),-o-radial-gradient(#67c5e7 0%, #f2f2f2 70%);
	background-image: url(../img/logo.png),-moz-radial-gradient(#67c5e7 0%, #f2f2f2 70%);
	background-image: url(../img/logo.png),radial-gradient(#67c5e7 0%, #f2f2f2 70%);
	background-repeat: no-repeat;
	background-position: center;
}
.nuget-badge code {
	width: 525px;
    background-color: #202020;
    border: 4px solid #c0c0c0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display:inherit;
    font: 1.5em 'andale mono', 'lucida console', monospace; 
    line-height: 1.5em;
    overflow:auto;
    padding: 15px;
}
    
.nuget-badge code span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }
}
